ul li {
display: inline-block;  
border: 3px solid black;
width: 150px;
list-style-type: none;
margin-left: 10px; 
text-align: center;
}

ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: black; 
font-size: 1.5em;
}

/* Dropdown Menu */

nav ul {
    position: relative;
}

nav ul li {
    float: left;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
}

nav ul li:hover > ul {
    display: block;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}