/*Navigation CSS*/

label {
    font-size: 26px;
    display: none;   
}

#toggle {
    display: none;
}

h1 {
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.current {
        border-bottom: 8px solid gold;
    }


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
nav>ul li {
    width: 150px; 
    text-align: center;
    font-weight: bold;
    }


nav a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px;
    border-radius: 10px;
    }

    
nav a:link{
    background-color: white;
    }

nav a:hover, nav a:focus {
    background-color: orange;
    }

nav a:active{
    background-color: orange;
    }

nav ul>li ul {
    position: absolute;
    margin-top: 0;
    display: none;
    }
            
nav>ul>li:hover>ul{
    display: block;
    }

@media screen and (max-width:640px) { 

    nav {
        display: block;
        position: static;
        
    }

    nav ul {
        display: none;       
        width: 90%;
        z-index: 1;
        position: absolute;
          
    }

    nav ul li {
        
        display: block;
        width: 100%;
        margin: 0; 
    }

    .current {
        background-color: gold;
        border-bottom: none;
    }

    nav a {
        margin-left: 0%;
        border-radius: 0px;
    }

    label {
        display: block;
        float: right;
        cursor: pointer;
    }

    #toggle:checked + ul {
        display: block;
    }

    .no-mobile {
        display: none;
    }
    

   
}   

@media screen and (max-width:960px) { 

    nav {
        display: block;
        position: static;
        
    }

    nav ul {
        display: none;       
        width: 90%;
        z-index: 1;
        position: absolute;
          
    }

    nav ul li {
        
        display: block;
        width: 100%;
        margin: 0; 
    }

    nav a {
        margin-left: 0%;
        border-radius: 0px;
    }

    .current {
        background-color: gold;
        border-bottom: none;
    }

    label {
        display: block;
        float: right;
        cursor: pointer;
    }

    #toggle:checked + ul {
        display: block;
    }

    .no-mobile {
        display: none;
    }
    

   
}   
