/* General Style CSS */
 
 @font-face {
    font-family: Roboto;   
    src: url("Roboto-Regular.ttf");   
    }

* {
    font-family: Roboto, sans-serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: gold;
    padding: 40px;
    border-radius: 10px;
    color: blue;
    width: 250px;
}

h2, h3 {
    color: blue;
}

body {
    padding: 2em 16em 0em 16em;
}

footer {
    margin-top: 2%;
}

footer img:hover {
    transform: scale(2);
}

a:visited {
    color: blue;
}

.icon {
    width: 12px;
    height: 12px;
    padding: 0;
}

/* GRID STYLE */

.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'main right'
    'footer footer';
    grid-gap: 1em;   
}

.item1 {
    grid-area: header;
}
.item2 { 
    grid-area: main; 
    margin-right: 4em;
    
}
.item3 {
    grid-area: right;   
}
.item4 {
    grid-area: footer;
}

footer {
    font-size: 10px;
    background-image: url("images/honeycomb.png");
}

.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.projects-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
}

.projects-container img {
    width: 100%;
}

.no-grid {
    position: static;
}

.youtube-vid {
    width: 560px; 
    height: 315px;
}

/* Table Style */

figure, table {
    width: 450px;
}

table, th, td {
    border: 1px solid black;
}

figcaption {
    text-align: center;
}

thead, tfoot {
    background-color: cornflowerblue;
}

tbody tr:nth-child(odd) {
    background-color: gold;
}

@media only screen and (max-width: 640px) {
    th, td {
        display: block;
        background-color: white;
    }

    thead {
        display: none;
    }

    table {
        font-size: 110%;
        border-collapse: collapse;
    }

    figcaption {
        font-size: 150%;
    }
    
    figcaption, tfoot {
        font-weight: bold;
    }

}

/* Mobile and Tablet Style */

@media screen and (max-width:960px) { 

    nav {
        width: 100%;
    }

    h1 {
        width: 100%;
        border-radius: 0px;
    }
    
    body {
        padding: 0%;
    }
    .grid-container, .projects-container { 
        font-size: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4 { 
        width: 100%; 
    }

    .item4 {
        text-align: center;
    }

    img {
        width: 80%;
        margin:auto;
    }

    
}   
@media screen and (max-width:640px) { 

    body {
        padding: 0%;
    }

    h1 {
        width: 100%;
        border-radius: 0px;
    }

    .grid-container, .projects-container { 
        font-size: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4 { 
        width: 100%; 
    }

    .item3 {
        max-width: 100%;
        text-align: center;
    }

    .youtube-vid {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        margin:auto;
    }
}   

@media screen and (max-width:1024px) { 
    .no-grid { 
        font-size: 90%;
    }
}

@media screen and (max-width:640px) { 
    .no-grid { 
        font-size: 90%;
        width: 100%;
    }
}   

/* Print Style */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: 'Times New Roman', Times, serif;
    
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    ul {
        padding-left: 0%;
    }

    .grid-container { 
        font-size: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: none;
    }
    
    @page {
        margin: 1in;
    }

}


