/* General Style CSS */


/* UNUSED; SAVE

h1 {
    color: #333399;
}

section p:first-of-type::first-letter {
    font-weight: bold;
    font-size: larger;
  

section p:not(:first-of-type) {
    text-indent: 1em;
}


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
 */

 
 @font-face {
    font-family: Roboto;   
    src: url("Roboto-Regular.ttf");   
    }

* {
    font-family: Roboto, sans-serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: gold;
    padding: 40px;
    border-radius: 10px;
    color: blue;
}

h2, h3 {
    color: blue;
}

body {
    padding: 2em 16em 0em 16em;
}

footer {
    margin-top: 2%;
}

footer img:hover {
    transform: scale(2);
}

a:visited {
    color: blue;
}

.icon {
    width: 12px;
    height: 12px;
    padding: 0;
}

/* GRID STYLE */

.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'main right'
    'footer footer';
    grid-gap: 1em;   
}

.item1 {
    grid-area: header;
}
.item2 { 
    grid-area: main; 
    margin-right: 4em;
    
}
.item3 {
    grid-area: right;   
}
.item4 {
    grid-area: footer;
    font-size: 10px;
    background-image: url("images/honeycomb.png");
}

.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.no-grid {
    position: static;
}

/* Mobile and Tablet Style */

@media screen and (max-width:960px) { 

    nav {
        width: 100%;
    }
    
    body {
        padding: 0%;
    }
    .grid-container { 
        font-size: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4 { 
        width: 100%; 
    }

    img {
        width: 80%;
        margin:auto;
    }

    
}   
@media screen and (max-width:640px) { 

    body {
        padding: 0%;
    }
    .grid-container { 
        font-size: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4 { 
        width: 100%; 
    }

    img {
        width: 80%;
        margin:auto;
    }
}   

@media screen and (max-width:960px) { 
    .no-grid { 
        font-size: 75%;
    }
}
@media screen and (max-width:640px) { 
    .no-grid { 
        font-size: 50%;
        width: 100%;
    }
}   

/* Print Style */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: 'Times New Roman', Times, serif;
    
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    ul {
        padding-left: 0%;
    }

    .grid-container { 
        font-size: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: none;
    }
    
    @page {
        margin: 1in;
    }

}


