/* General Style CSS */

h1 {
    color: #333399;
}

section p:first-of-type::first-letter {
    font-weight: bold;
    font-size: larger;
  }

section p:not(:first-of-type) {
    text-indent: 1em;
}